/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    background-color: rgb(58, 57, 57);
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection {
    color: #000; 
    background: #ff0;
}

h1 {
    font-weight: normal;
    font-size: 4em;
    margin: auto;
    background: rgb(0, 9, 63);
    line-height: 1.5em;
    color: white;
}

div.wrapper {
    background-color: rgb(0, 9, 63);
    overflow: auto;
}

p {
    margin-left: 40em;
    color: white;
}

h2.subheader {
    font-weight: normal;
    line-height: 1em;
    color: darkolivegreen;
}

h2.recipe {
    font-size: 3em;
    font-weight: normal;
    line-height: 1em;
    color: darkolivegreen;
}

h2.reviews {
    font-size: 3em;
    font-weight: normal;
    margin-top: 1em;
    line-height: 1em;
    color: darkgreen;
}

h3.name {
    font-size: 2em;
    font-weight: normal;
    line-height: 1em;
    color: grey;
}

h3.ingredients {
    font-size: 2em;
    font-weight: normal;
    line-height: 1em;
    color: darkolivegreen;
}

h3.instructions {
    font-size: 2em;
    font-weight: normal;
    margin-top: 2em;
    line-height: 1em;
    color: darkolivegreen;
}

h3.owner {
    color: darkgreen; 
}

h3 {
    color: darkgreen; 

}

h4 {
    margin-top: 4em;
    color: darkgreen; 
}

h5 {
    color: darkgreen;
}

ul {
    font-weight: normal;
    line-height: 1em;
    border-left: 100em;
    color: white;
}

a {
    color:darkcyan;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: darkcyan;
    text-decoration: none;
}

/*
iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 5700px;
    border: 2px solid darkcyan;
}
*/

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    div.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    img.desktop {
        width: 50%;
        height: 70%;
        float: left;
        margin-right: 2em;
    }
    
    img.tablet, img.phone {
        display: none;
    }
    
    p {
        margin: 1em;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    div.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    img.tablet {
        width: 50%;
        float: right;
        margin-left: 1em;
    }
    
    img.desktop, img.phone {
        display: none;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    div.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    img.phone {
        width: 100%;
    }
    
    img.desktop, img.tablet {
        display: none;
    }
}